<html>
<style>
  h3 {
    margin: 3px;
  }
</style>

<body>


<h2>{{ month + '/' + year }}  </h2>
<table>
  <tr>
    <td><h3>Limit:</h3></td><td><h3>{{ this_month_limit  }}</h3></td>
  </tr>
  <tr>
    <td><h3>Remaining:</h3></td><td><h3>{{ remaining_amt }}</h3></td>
  </tr>
  {% if is_current_month %}
    <tr>
      <td><h3>Today:</h3></td><td><h3>{{ month + '/' + day}}</h3></td>
    </tr>
  {% endif %}
  <tr>
    <td><h3>Spending Track:</h3></td><td><h3>{{ month + '/' + spending_track}}</h3></td>
  </tr>
</table>

<table>
  <thead>
    <th>Date</th>
    <th>Amount</th>
    <th>Marchant</th>
    <th>Category</th>
    <th>Budget Type</th>
    <th>Description</th>

  </thead>
  <tbody>
    {% for t in transactions %}
      <tr>
          <td style="font-size: 18px; padding: 5px;">{{ t['date'] }}</td>
          <td style="font-size: 24px; padding: 5px; text-align: right;">{{ t['amount'] }}</td>
          <td style="font-size: 18px; padding: 5px;">{{ t['marchant'] }}</td>
          <td style="font-size: 18px; padding: 5px;">{{ t['category'] }}</td>
          <td style="font-size: 18px; padding: 5px;">{{ t['budget_type'] }}</td>
          <td style="font-size: 18px; padding: 5px;">{{ t['description'] }}</td>
          <td style="font-size: 18px; padding: 5px;"><a href="/edit-transaction/{{t['_id']}}?next_page={{next_page}}">Edit</a></td>
      </tr>

    {% endfor %}
  </tbody>

</table>
<a href="/edit-transaction/0?next_page={{next_page}}">New Transaction</a>

<form action="/change-monthly-limit/{{month}}/{{year}}" method="POST">
  <input type="hidden" name="next_page" value="{{next_page}}">
  <label>Change this month's limit to... <input type="number" name="new_amount"></label>
  <input type="submit">
</form>

<form action="/adjust-from-last-month-balance/{{month}}/{{year}}" method="POST">
  <input type="hidden" name="next_page" value="{{next_page}}">
  <input type="submit" value="Ajust from last month balance">
</form>
</body>

</html>
